 h1 {
    font-size: 1.8em
 }

 h2 {
    font-size: 1.5em
 }

 h3 {
    font-size: 1.3em
 }

 input, button {
    min-width: 72px;
    min-height: 36px;
    border: 1px solid grey;
 }
  label, input, button {
    display: block;
 }
 input {
    margin-bottom: 1em;
 }
 #demoAmarillo {
    background-color: yellow;
 }
 .demoRojo {
    background-color: red;
 }

 p {
    background-color: blue;
 }