body {
    text-align: center;
}
p {
    font-size: 1.5rem;
}
@media (max-width: 600px) {
    body {
        background-color: #87ceeb;
    }
}
/* Ejercicio 6*/
body {
    text-align: center;
    background-color: #87ceeb;
}
p {
    font-size: 1.5rem;
}
@media (min-width: 600px) and (max-width: 768px) {
    body {
    background-color: #de3163;
    }
}